<div class="card">
  <div class="card-title">
    <h3><%= cocktail.name %></h3>
    <div class="card-content">
      <p><%= cocktail.ingredients %></p>
      <p><%= cocktail.doses %></p>
    </div>
  </div>
</div>
