.container {
  background-color: #fefeff;
  padding: 25px;
  margin-top: 20px;
  a {
    text-decoration: none;
  }
}

.btn {
  border-radius: 2px;
}

.picture {
  position: center;
  padding: 20px;
}

.add-ingredients {
  margin-top: 25px;
  padding: 10px;
  p {
    font-weight: bolder;
  }
}

.cocktail_description {
  padding-top: 25px;
  p {
    margin-top: 25px;
    font-weight: bolder;
  }
}

.links {
  padding: 25px
}
