// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  background-color: #fefeff
  padding: 25px;
  margin-top: 20px;
  .link {
    padding: 25px;
  }
}

.btn {
  border-radius: 2px;

}
